{% extends 'base.html' %}
{% block content %}
<!-- Account Settings Starts Here -->
          	<div class="container" id="userform">
        	    <div class="row-g-2">
        		    <div class="col-12 border border-2 border-light-subtle" style="border-radius:5px; margin-top:20px;  margin-bottom:50px;">
        			    <nav class="navbar bg-body-tertiary Sticky top" style="padding-top:1px;padding-bottom:1px;">
	                 	<div class="container-fluid ps-0" style="margin-right: 10px;">
	                 		<span class="navbar-brand mb-0 h8" style="padding-left:10px"><i class="fa-solid fa-gear"></i> Change your Password</span>
	                 	</div>
	                </nav>
	                <div><form class="container" style="margin-top: 20px; margin-bottom: 20px" method="POST">
						{% csrf_token %}
				            <div class="mb-3">
				              <label for="formGroupExampleInput" class="form-label">Current Password</label>
				              <input type="Password" class="form-control" id="formGroupExampleInput" name="current" placeholder="">
				            </div>
				            <div class="mb-3">
				              <label  class="form-label">New Password</label>
				              <input type="Password" class="form-control"  name="n_pass1" placeholder="">
				            </div>
				            <div class="mb-3">
				              <label  class="form-label">Re-enter Password</label>
				              <input type="Password" class="form-control"  name="n_pass2" placeholder="">
				            </div>
				            <div>
				              <input type="submit" value="Change Password" class="btn btn-primary col-12 rounded-pill">
				            </div>
				          </form></div>
			          </div>
              </div>
            </div>
        <!-- Account Settings Starts Here -->
    </div>
{% endblock %}