{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="card mt-3 ms-2" style="width:67rem;">



                <div class="card-header">
                  <i class="fa-sharp fa-solid fa-list-check ms-2" style="color: #19191a;"></i> Manage Vehicle | Only the records of last 30 days are available here</span>
                </div>
                    <form style="margin-top: 20px; margin-left:50px;margin-right:58px">
                          Show<select aria-label="Default select example">
                                    <option>10</option>
                                    <option value="1">20</option>
                                    <option value="2">30</option>
                                    <option value="3">40</option>
                          </select>Entries
                          <div class="float-end">
                           <label for="search">Search:</label>
                           <span><input type="search" name="search"></span>
                          </div>
                        </form>
                <!-- <div class="card-body card ms-3 me-3" style="margin-top:60px;"> -->
                  <div class="container">
                    <div class="row col-md-11">


                      <table class="table table-striped table-bordered" style="margin-left:50px;margin-top:15px;">

                                <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Vehicle number</th>
                                  <th>Type</th>
                                  <th>Area NO</th>
                                  <th>Charge</th>
                                  <th>Arrival Time</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for i in vehicles %}
                                <tr>
                                  <td>{{ i.id }}</td>
                                  <td>{{ i.vehicle_no }}</td>
                                  <td>{{ i.vehicle_type }}</td>
                                  <td>{{ i.parking_area_number }}</td>
                                  <td><span class="text-warning">$&nbsp;</span>{{ i.parking_charge }}</td>
                                  <td>{{ i.arrival_time }}</td>
                                  <td>
                                      {% if i.status == "parked" %}
                                           <a class="rounded-pill  btn btn-primary">{{ i.status }}</a>
                                      {% else %}
                                          <a class="rounded-pill  btn btn-success">{{ i.status }}</a>
                                      {% endif %}

                                  </td>
                                  <td>
                                      {% if i.status == "parked" %}
                                          <a href="{% url 'action' i.id %}" class="rounded btn btn-primary">Done</a>
                                      {% else %}
                                          <a href="" class="rounded btn btn-light">Done</a>
                                      {% endif %}

                                  </td>
                                </tr>
                              {% endfor %}



                              </tbody>
                      </table>


                      <nav aria-label="...">
                              {% if vehicles.has_other_pages %}
                              <ul class="pagination float-end" style="margin-right:-61px;margin-bottom:40px">
                                {% if vehicles.has_previous %}
                                    <li class="page-item">
                                        <a href="?pagee={{ vehicles.previous_page_number }}" style="text-decoration:none;"><span class="page-link">Previous</span></a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a href="?pagee={{ vehicles.paginator.number_pages }}" class="page-link"  style="text-decoration:none;">Previous</a>
                                    </li>
                                {% endif %}
                                  <!--open number pagination -->
                                  {% for i in vehicles.paginator.page_range %}
                                           {% if vehicles.number == i %}
                                                   <li class="page-item active"><a href="?pagee={{ i }}" class="page-link">{{ i }}</a></li>
                                           {% else %}
                                                    <li class="page-item"><a href="?pagee={{ i }}" class="page-link">{{ i }}</a></li>
                                           {% endif %}
                                  {% endfor %}



                                <!-Here next button is started-->
                                  {% if vehicles.has_next %}
                                     <li class="page-item">
                                         <a href="?pagee={{ vehicles.next_page_number }}" style="text-decoration:none;"><span class="page-link">next</span></a>
                                     </li>
                                  {% else %}
                                      <li class="page-item disabled">
                                           <a href="?pagee={{ vehicles.paginator.number_pages }}" class="page-link">next</a>
                                       </li>
                                  {% endif %}
                              </ul>
                          {% endif %}
                      </nav>



                    </div>

                  </div>





                <!-- </div>  -->
    </div>

</div>

{% endblock %}